<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/panier.css' %}">
</head>
<body>
    <header>
        <div class="logo">JO 2024</div>
        <nav>
            <ul>
                <li><a href="{% url 'accueil' %}">Accueil</a></li>
                <li><a href="{% url 'evenement' %}">Evenements</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'deconnexion' %}">Se déconnecter</a></li>
                <li class="welcome-message">Bienvenue, {{ user.username }}!</li>
                {% else %}
                <li><a href="{% url 'connexion' %}">Se connecter</a></li>
                <li><a href="{% url 'inscription' %}">S'inscrire</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h2>Votre Panier</h2>
        <ul>
            {% for item in panier_items %}
            <li>
                {{ item.offre.titre }} - {{ item.evenement.date }} - Quantité : {{ item.quantite }}
                <a href="{% url 'supprimer_du_panier' item.id %}"></a>
            </li>
            {% endif %}
        </ul>
        <div class="total">Total: {{ total }}€</div>
        <butt class="valider" onclick="valideCommande()">Valider la commande</butt>
    </main>
    <footer>
        <p>&copy: 2024 Jeux Olympiques. Tous droits réservés.</p>
    </footer>
    <script src="{% static 'Javascript/panier.js' %}"></script>
</body>
</html>